
body {
    margin: 60px auto;
    width: 70%;
    background-image: url("dandelion.jpg")
}
.navigation ul {
    border-top: 1px solid #d5d5d5;
    font-family:'Quicksand', sans-serif;
    padding: 20px 0px;
    position: inline;
    text-align: center;
    width: 100%;
}
.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    position: inline;
    list-style-type: none;
}
.navigation a {
    text-decoration: none;
    color: darkgreen;
    display: inline-block;
    margin: 10px;
    padding: 14px;
}
.naviation a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Quicksand', sans-serif;
    text-align: center;
}
h3 {
    color: darkgreen;
    font-size: 16px;
    font-weight: 700;

    text-align: center;
    font-family: 'Garamond';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
}

.share {
    border-top: 1px solid #d5d5d5;
    padding: 20px 0px;
    position: inline;
    text-align: center;
    width: 100%;
}

.share a {
    background: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

.share a:hover {
    background: white;
    border: 1px solid green;
    color: green;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
