
body {
    margin: 60px auto;
    width: 70%;
    background-image: url("dandelion.jpg")
}
nav ul, footer ul {
    font-family:'Quicksand', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Quicksand', sans-serif;
    text-align: center;
}
h3 {
    color: green;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px;
    text-align: center;
    font-family: 'Garamond';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
}

.share {
    border-top: 1px solid #d5d5d5;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.share a {
    background: green;
    border: 1px solid green;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}

.share a:hover {
    background: white;
    border: 1px solid green;
    color: green;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
